{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}
{% if our_smart_approach_items %}
<section class="growth-service style-2 sec-padd">
  <div class="section-title center">
    <h2>{{our_approach_title}}</h2>
  </div>
  <div class="container" id="about_us_container">
  {% for object in our_smart_approach_items %}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="item center">
      <div class="icon_box">
        <span class={{object.icon}}></span>
      </div>
      <h4>{{object.title}}</h4>
      <p>{{object.paragraph}}</p>
    </div>
  </div>
  {% endfor %}
  </div>
</section>
{% endif %}