{% load home_tags static %}
{% get_site_root as site_root %}
<footer class="main-footer">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <figure class="footer-logo">{% go_to_index parent=site_root calling_page=self %}<img src="{% static 'images/logo/logo-pontech-footer.png' %}" alt=""></a></figure>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="section-title">
                                    <h3>what we do</h3>
                                </div>
                                <div class="widget-content">
                                  <ul class="list">
                                      {% if services %}
                                        {% for service in services %}
                                        <li><a href="{{service.full_url}}">{{service.service_title}}</a></li>
                                        {% endfor %}
                                      {% endif %}
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget posts-widget">
                                <div class="section-title">
                                    <h3>latest news</h3>
                                </div>
                                <div class="widget-content">
                                <!--Post-->
                                {% if news_all %}
                                  {% for news in news_all %}
                                  <div class="post">
                                      <div class="content">
                                          <h4><a href="{{news.full_url}}">{{news.news_title}}</a></h4>
                                      </div>
                                      <div class="time">{{ news.date_posted|date:'M'}} {{ news.date_posted|date:'d'}} {{ news.date_posted|date:'o'}}</div>
                                  </div>
                                  {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <div class="section-title">
                                    <h3>{{contact.contact_us_title}}</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><span class="icon fa fa-home"></span>{{contact.address}}</li>
                                        <li><span class="icon fa fa-phone"></span> {{contact.phone}}</li>
                                        <li><span class="icon fa fa-envelope"></span>{{contact.mail}}</li>
                                    </ul>
                                </div>
                                <ul class="social">
                                    <li><a href="https://www.linkedin.com/company/17919175/"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

             </div>
         </div>
     </div>

     <!--Footer Bottom-->
     <section class="footer-bottom">
        <div class="container">
            <div class="pull-left copy-text">
                <p>Copyrights © {% now "Y" %} All Rights Reserved by Pontech.</a></p>
            </div><!-- /.pull-right -->
            <div class="pull-right get-text">
                <ul>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </section>

</footer>

<!-- Scroll Top Button -->
	<button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
	<!-- pre loader  -->
	<div class="preloader"></div>
