{% extends "base.html" %}
{% load wagtailtrans_tags wagtailcore_tags static home_tags wagtailimages_tags%}

{% block content %}

{% image page.header_image width-1920 as header_image %}
<div class="inner-banner has-base-color-overlay text-center" style="background: url({{ header_image.url }});">
    <div class="container">
        <div class="box">
            <h3>{{ page.header_text }}</h3>
        </div>
    </div>
</div>

<div class="breadcumb-wrapper">
  <div class="container">
    <div class="pull-left">
        <ul class="list-inline link-list">
          {% breadcrumbs %}
        </ul>
    </div>
  </div>
</div>

<!--About us FAQ section-->
{% include "home/includes/about_us/about_us_faq.html" with about_us_items=self.about_us_faq.all only %}

<!--Our History section-->
{% include "home/includes/about_us/our_history.html" with our_history_items=self.our_history.all only %}

<!--Our Smart Approach section-->
{% include "home/includes/about_us/our_smart_approach.html" with our_smart_approach_items=self.our_approach.all only %}

{% comment %}
<section class="our-team style-2" style="background-image: url(images/background/3.jpg);">
    <div class="container">
        <div class="section-title">
            <h2>Meat Our team</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="images/team/t1.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info text-center">
                        <h4>Brown Angelino</h4>
                        <a href="#"><p class="position">President</p></a>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="images/team/t2.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info text-center">
                        <h4>Astley Fletcher</h4>
                        <a href="#"><p class="position">Founder</p></a>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="images/team/t3.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info text-center">
                        <h4>Jones Antony</h4>
                        <a href="#"><p class="position">Designer</p></a>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <figure class="img-box">
                        <a href="#"><img src="images/team/t4.jpg" alt=""></a>
                        <div class="overlay">
                            <div class="inner-box">
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </figure>
                    <div class="author-info text-center">
                        <h4>Bernatt Rotty</h4>
                        <a href="#"><p class="position">Manager</p></a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>
{% endcomment %}


{% comment %}
<section class="two-column sec-padd">
    <div class="container">
        <div class="section-title center">
            <h2>
                Press Releases
            </h2>
        </div>
        <div class="two-column-carousel">
            <div class="item clearfix">
                <div class="img-box"><img src="images/resource/12.jpg" alt=""></div>
                <div class="content">
                    <h4>Fortune for business growth</h4>
                    <p class="date">21st August, 2016</p>
                    <p>Idea of denouncing pleasure and praising pain was <br> born and I will give you a complete account of the <br> system, and expound.</p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img-box"><img src="images/resource/13.jpg" alt=""></div>
                <div class="content">
                    <h4>Mobile gaming Recuirement</h4>
                    <p class="date">14th April, 2016</p>
                    <p>Fortune has announced the launch of a new digital <br> recruitment programme that will use online <br>gaming and digital analysis.</p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img-box"><img src="images/resource/12.jpg" alt=""></div>
                <div class="content">
                    <h4>Fortune for business growth</h4>
                    <p class="date">21st August, 2016</p>
                    <p>Idea of denouncing pleasure and praising pain was <br> born and I will give you a complete account of the <br> system, and expound.</p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img-box"><img src="images/resource/13.jpg" alt=""></div>
                <div class="content">
                    <h4>Mobile gaming Recuirement</h4>
                    <p class="date">14th April, 2016</p>
                    <p>Fortune has announced the launch of a new digital <br> recruitment programme that will use online <br>gaming and digital analysis.</p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img-box"><img src="images/resource/12.jpg" alt=""></div>
                <div class="content">
                    <h4>Fortune for business growth</h4>
                    <p class="date">21st August, 2016</p>
                    <p>Idea of denouncing pleasure and praising pain was <br> born and I will give you a complete account of the <br> system, and expound.</p>
                </div>
            </div>
            <div class="item clearfix">
                <div class="img-box"><img src="images/resource/13.jpg" alt=""></div>
                <div class="content">
                    <h4>Mobile gaming Recuirement</h4>
                    <p class="date">14th April, 2016</p>
                    <p>Fortune has announced the launch of a new digital <br> recruitment programme that will use online <br>gaming and digital analysis.</p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endcomment %}

{% comment %}
<section class="subscribe center sec-padd" style="background-image: url(images/background/2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                <h2>Subscribe For Newsletter</h2>
                <p>Idea of denouncing pleasure praising pain was born and I will give you a complete account <br> ofsystem, expound the great explorer.</p>
                <form class="subscribe-form">
                    <input type="email" placeholder="Email Address"><span class="fa fa-envelope"></span>
                    <button type="submit" class="thm-btn">subscribe us</button>
                </form>
            </div>
        </div>

    </div>
</section>
{% endcomment %}

{% endblock %}
