{% extends "base.html" %}
{% load wagtailtrans_tags wagtailcore_tags static home_tags wagtailimages_tags %}

{% block content %}

{% image page.header_image width-1920 as cover_image %}
<div class="inner-banner has-base-color-overlay text-center" style="background: url({{ cover_image.url }});">
    <div class="container">
        <div class="box">
            <h3>{{ page.header_text }}</h3>
        </div>
    </div>
</div>

<div class="breadcumb-wrapper">
  <div class="container">
    <div class="pull-left">
        <ul class="list-inline link-list">
          {% breadcrumbs %}
        </ul>
    </div>
  </div>
</div>

<div class="sidebar-page-container sec-padd-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <section class="blog-section">
                    <div class="row">
                        {% if blogpages %}
                          {% for blog in blogpages.specific %}
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="default-blog-news wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                                <div class="img-box">
                                  {% image blog.cover_image width-370 as cover_image %}
                                  <a href={{ blog.url }}><img src={{ cover_image.url }}></a>
                                </div>
                                <div class="lower-content">
                                  {% for author in blog.blog_authors.all %}
                                    <div class="post-meta">{{ author.name }} | {{ blog.date|date:"SHORT_DATE_FORMAT" }}</div>
                                  {% endfor %}
                                  <div class="text">
                                    <h4><a href={{ blog.url }}>{{ blog.blog_title }}</a></h4>
                                    <p>{{ blog.blog_title_short }}</p>
                                  </div>
                                </div>
                              </div>
                          </div>
                          {% endfor %}
                        {% endif %}
                    </div>
                    <div class="border-bottom"></div>
                    <br><br>
                    <ul class="page_pagination center">
                        {% if resources.paginator.page_range > 1%}
                          {% if resources.has_previous %}
                          <li><a href="?page={{ resources.previous_page_number }}" class="tran3s"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                          {% endif %}

                          {% for page_num in resources.paginator.page_range %}
                            <li {% if page_num == resources.number %}class="active tran3s"{% endif %}><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                          {% endfor %}

                          {% if resources.has_next %}
                          <li><a href="?page={{ resources.next_page_number }}" class="tran3s"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                          {% endif %}
                        {% endif %}
                    </ul>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="blog-sidebar">
                    <!-- <div class="category-style-one">
                        <div class="inner-title">
                            <h4>Categories</h4>
                        </div>
                        <ul class="list">
                            <li><a href="#" class="clearfix"><span class="float_left">Business Growth </span><span class="float_right">(6)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Consulting </span><span class="float_right">(2)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Management  </span><span class="float_right">(5)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Customer Insights </span><span class="float_right">(10)</span></a></li>
                            <li><a href="#" class="clearfix"><span class="float_left">Organization  </span><span class="float_right">(4)</span></a></li>
                        </ul>
                    </div> End of .sidebar_categories -->

                    <div class="popular_news">
                        <div class="inner-title">
                            <h4>latest news</h4>
                        </div>
                        {% latest_news_feed %}
                    </div>
                    <br><br>

                </div> <!-- End of .wrapper -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
