{% extends "base.html" %}
{% load wagtailtrans_tags wagtailcore_tags static home_tags wagtailimages_tags%}

{% block content %}

{% image page.cover_image width-1920 as cover_image %}
<div class="inner-banner has-base-color-overlay text-center" style="background: url({{ cover_image.url }});">
    <div class="container">
        <div class="box">
            <h3>{{ page.blog_title }}</h3>
        </div>
    </div>
</div>

<div class="breadcumb-wrapper">
  <div class="container">
    <div class="pull-left">
        <ul class="list-inline link-list">
          {% breadcrumbs %}
        </ul>
    </div>
  </div>
</div>

<div class="sidebar-page-container sec-padd">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <section class="blog-section">
                    <div class="large-blog-news single-blog-post single-blog wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="lower-content">
                            {% for category in page.category.all %}
                              <h5>{{ category.name }}</h5>
                            {% endfor %}
                            <h4><a>{{ page.blog_title_short }}</a></h4>
                            {% for author in page.blog_authors.all %}
                              <div class="post-meta">by {{ author.name }} | {{ page.date|date:"SHORT_DATE_FORMAT" }} </div>
                            {% endfor %}
                            <div class="text">
                              <p>{{ page.blog_text }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-author">
                        <div class="inner-box">
                            {% for author in page.blog_authors.all %}
                              <figure class="author-thumb"><img src="images/blog/author.jpg" alt=""></figure>
                              <h4>{{ author.name }}</h4>
                              <div class="">
                                {{ author.description|richtext }}
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="blog-sidebar">
                    {% latest_news_feed %}
                </div> <!-- End of .wrapper -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
