{% extends "base.html" %}
{% load wagtailtrans_tags wagtailcore_tags static home_tags wagtailimages_tags %}

{% block content %}

{% image page.cover_image width-1920 as cover_image %}
<div class="inner-banner has-base-color-overlay text-center" style="background: url({{ cover_image.url }});">
    <div class="container">
        <div class="box">
            <h3>{{ page.contact_us_title }}</h3>
        </div>
    </div>
</div>

<div class="breadcumb-wrapper">
  <div class="container">
    <div class="pull-left">
        <ul class="list-inline link-list">
          {% breadcrumbs %}
        </ul>
    </div>
  </div>
</div>

<section class="contact_details sec-padd">
    <div class="container">
        <div class="section-title">
            <h3>{{ page.contact_us_title }}</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="default-cinfo">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        {% if offices %}
                          {% for office in offices %}
                            <div class="accordion animated out" data-delay="0" data-animation="fadeInUp"
                                onclick="gMap('{{office.lat_position}}', '{{office.long_position}}', '{{office.town_name}}')">
                              <div class="acc-btn">
                                  {{ office.title }}
                                  <div class="toggle-icon">
                                      <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                  </div>
                              </div>
                              <div class="acc-content">
                                  <ul class="contact-infos">
                                      <li>
                                          <div class="icon_box">
                                              <i class="fa fa-home"></i>
                                          </div><!-- /.icon-box -->
                                          <div class="text-box">
                                              <p><b>{{ office.address_label }}:</b> {{ office.street_address }} </p>
                                          </div><!-- /.text-box -->
                                      </li>
                                      <li>
                                          <div class="icon_box">
                                              <i class="fa fa-phone"></i>
                                          </div><!-- /.icon-box -->
                                          <div class="text-box">
                                              <p><b>{{ office.phone_label }}:</b> {{ office.phone }}</p>
                                          </div><!-- /.text-box -->
                                      </li>
                                      <li>
                                          <div class="icon_box">
                                              <i class="fa fa-envelope"></i>
                                          </div><!-- /.icon-box -->
                                          <div class="text-box">
                                              <p><b>{{ office.e_mail_label }}:</b> {{ office.e_mail }}</p>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="icon_box">
                                              <i class="fa fa-clock-o"></i>
                                          </div><!-- /.icon-box -->
                                          <div class="text-box">
                                              <p><b>{{ office.working_hours_label }}:</b> <br>{{ office.working_hours }}</p>
                                          </div>
                                      </li>

                                  </ul>
                              </div>
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="home-google-map">
                    <div
                        class="google-map"
                        id="contact-google-map"
                        data-map-lat="42.679461"
                        data-map-lng="23.332127"
                        data-icon-path="{% static 'images/logo/map-marker.png' %}"
                        data-map-title="Sofia"
                        data-map-zoom="17" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="border-bottom"></div>
</div>

{% endblock %}
