{% extends "base.html" %}
{% load wagtailtrans_tags wagtailcore_tags static home_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!--Start rev slider wrapper-->
{% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

<!--Why us/Featured services-->
{% include "home/includes/featured_services.html" with featured_service_items=self.featured_service_items.all %}

<!--What we do-->
{% include "home/includes/what_we_do.html" with what_we_do_items=self.what_we_do_items.all only%}

<!--About us FAQ-->
{% include "home/includes/about_us_faq.html" with about_us_home=self.about_us_home.all accordion=self.about_us_accoridon.all %}

<div class="container"><div class="border-bottom"></div></div>

<!--testimonials-->
{% include "home/includes/testimonials.html" with testimonials=self.testimonials.all %}

{% latest_news %}

<div class="container"><div class="border-bottom"></div></div>

<!--Our partners-->
{% include "home/includes/partners.html" with partners_items=self.partners_items.all %}

<section class="awards center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h2>Awards &amp; Recognition</h2>
                <div class="text"><p>We're delighted and honored to announce that In Fortune has won a silver <br>medal in the Independent Publisher Book Awards.</p></div>
                <div class="award-logo">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <img src="{% static 'images/clients/6.png' %}" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <img src="{% static 'images/clients/7.png' %}" alt="">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <img src="{% static 'images/clients/8.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h2>Our Practice &amp; Services</h2>
                <div class="text"><p>Our Practice is Practice Management Software designedWith our Phone, <br>Email and Remote Support services, for customer prb.</p></div>
                <div class="service-list">
                    <ul>
                        <li><i class="fa fa-long-arrow-right"></i><a href="service-single.html">Business Growth</a></li>
                        <li><i class="fa fa-long-arrow-right"></i><a href="service-single.html">Sustainability</a></li>
                        <li><i class="fa fa-long-arrow-right"></i><a href="service-single.html">Performance</a></li>
                        <li><i class="fa fa-long-arrow-right"></i><a href="service-single.html">Customer Insights</a></li>
                        <li><i class="fa fa-long-arrow-right"></i><a href="service-single.html">Organization</a></li>
                        <li><i class="fa fa-long-arrow-right"></i><a href="service-single.html">Analytics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
{% endblock %}
