{% extends "base.html" %}
{% load wagtailtrans_tags wagtailcore_tags static home_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!--Start rev slider wrapper-->
{% include "home/includes/carousel.html" with carousel_items=self.carousel_items.all only %}

<!--Why us/Featured services-->
{% include "home/includes/featured_services.html" with featured_service_items=self.featured_service_items.all %}

<!--What we do-->
{% include "home/includes/what_we_do.html" with what_we_do_items=self.what_we_do_items.all only%}

<!--About us FAQ-->
{% include "home/includes/about_us_faq.html" with about_us_home=self.about_us_home.all accordion=self.about_us_accoridon.all %}

<div class="container"><div class="border-bottom"></div></div>

<!--testimonials-->
{% include "home/includes/testimonials.html" with testimonials=self.testimonials.all %}

{% latest_news %}

<div class="container"><div class="border-bottom"></div></div>
<!--Our partners-->
{% include "home/includes/partners.html" with partners_items=self.partners_items.all %}

</div>
{% endblock %}
