{% extends "base.html" %}
{% load wagtailtrans_tags wagtailcore_tags static home_tags wagtailimages_tags%}

{% block content %}

{% image page.header_image width-1920 as header_image %}
<div class="inner-banner has-base-color-overlay text-center" style="background: url({{ header_image.url }});">
    <div class="container">
        <div class="box">
            <h3>{{ page.header_text }}</h3>
        </div>
    </div>
</div>

<div class="breadcumb-wrapper">
  <div class="container">
    <div class="pull-left">
        <ul class="list-inline link-list">
          {% breadcrumbs %}
        </ul>
    </div>
  </div>
</div>

<section class="our-services style-2">
    <div class="container">
        <div class="row">

          {% if services %}
            {% for service in services%}
              <div class="col-md-4 col-sm-6">
                  <div class="single-our-service">
                      <figure class="img-box">
                          <a href="{{ service.full_url }}">
                            {% image service.service_image width-370 as service_image %}
                            <img src="{{ service_image.url }}" alt="{{ service.title}}"></a>
                      </figure>
                      <div class="text-box">
                          <a href="{{ service.full_url }}"><h4>{{ service.title }}</h4></a>
                          {{ service.service_thumbnail_text }}
                      </div>
                  </div>
              </div>
            {% endfor %}
          {% endif %}

        </div>
    </div>
</section>
{% endblock %}
