{% load static %}
<footer class="main-footer">

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <figure class="footer-logo"><a href="index.html"><img src="{% static 'images/logo/logo-pontech-footer.png' %}" alt=""></a></figure>

                                <div class="widget-content">
                                    <div class="text"><p>Our team offers the most up-to-date, sustainable manufacturing solutions. teachings of the great explorer of the truth We only source materials from tried and trusted suppliers.</p> </div>
                                    <div class="link">
                                        <a href="#" class="default_link">More About us <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <div class="section-title">
                                    <h3>what we do</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="service-single.html">Business Growth</a></li>
                                        <li><a href="service-single.html">Sustainability</a></li>
                                        <li><a href="service-single.html">Performance</a></li>
                                        <li><a href="service-single.html">Customer Insights</a></li>
                                        <li><a href="service-single.html">Organization</a></li>
                                        <li><a href="service-single.html">Advanced Analytics</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget posts-widget">
                                <div class="section-title">
                                    <h3>latest news</h3>
                                </div>
                                <div class="widget-content">
                                    <!--Post-->
                                    <div class="post">
                                        <div class="content">
                                            <h4><a href="#">Seminar for improve your business <br>profit & loss</a></h4>
                                        </div>
                                        <div class="time">August 21, 2016</div>
                                    </div>
                                    <!--Post-->
                                    <div class="post">
                                        <div class="content">
                                            <h4><a href="#">Experts Openion for save money <br>for your future.</a></h4>
                                        </div>
                                        <div class="time">March 14, 2016</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <div class="section-title">
                                    <h3>contact us</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><span class="icon fa fa-phone"></span>22/121 Apple Street, New York, <br>NY 10012, USA</li>
                                        <li><span class="icon fa fa-envelope"></span> Phone: +123-456-7890</li>
                                        <li><span class="icon fa fa-paper-plane"></span>Mail@Fortuneteam.com</li>
                                    </ul>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>

             </div>
         </div>
     </div>

     <!--Footer Bottom-->
     <section class="footer-bottom">
        <div class="container">
            <div class="pull-left copy-text">
                <p>Copyrights © 2016 All Rights Reserved by <a href="#"> SteelThemes.</a></p>

            </div><!-- /.pull-right -->
            <div class="pull-right get-text">
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                </ul>
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </section>

</footer>

<!-- Scroll Top Button -->
	<button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
	<!-- pre loader  -->
	<div class="preloader"></div>
