{% load static %}
<section class="about-faq sec-padd">
    <div class="container">
        <div class="section-title center">
            <h2>{{ page.translated_title_about_us }}</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-info">
                    <h4>Everyboy has something important to say!</h4>
                    <br>
                    <div class="text">
                        <p>We have built an enviable reputation in the consumer goods, heavy industry, high-tech, manufacturing, medical, recreational vehicle, and transportation sectors. multidisciplinary team of engineering experts.</p><br>
                        <p>Who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain.</p><br>
                        <p>Denouncing pleasure and praising pain was born and I will give you a complete account of the system, expound the actual teachings.</p><br>
                    </div>

                    <div class="link_btn">
                        <a href="#" class="thm-btn">know more</a>
                        <div class="sign"><img src="{% static 'images/resource/sign.jpg' %}" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="accordion-box">
                    <!--Start single accordion box-->
                    <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                        <div class="acc-btn">
                            <p class="title">What is the procedure to join with your company?</p>
                            <div class="toggle-icon">
                                <span class="plus fa fa-angle-right"></span><span class="minus fa fa-angle-down"></span>
                            </div>
                        </div>
                        <div class="acc-content">
                            <div class="text"><p>
                                The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure.
                            </p></div>
                        </div>
                    </div>
                    <!--Start single accordion box-->
                    <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                        <div class="acc-btn active">
                            <p class="title">Do you give any offer for premium customer?</p>
                            <div class="toggle-icon">
                                <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="acc-content collapsed">
                            <div class="text"><p>
                                The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure.
                            </p></div>
                        </div>
                    </div>
                    <!--Start single accordion box-->
                    <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                        <div class="acc-btn">
                            <p class="title">What makes you special from others?</p>
                            <div class="toggle-icon">
                                <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="acc-content">
                            <div class="text"><p>
                                The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure.
                            </p></div>
                        </div>
                    </div>
                    <!--Start single accordion box-->
                    <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                        <div class="acc-btn">
                            <p class="title">Why Would a Successful Entrepreneur Hire a Coach?</p>
                            <div class="toggle-icon">
                                <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="acc-content">
                            <div class="text"><p>
                                The master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure.
                            </p></div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>
