{% load static %}
{% if about_us_home %}
<section class="about-faq sec-padd">
    <div class="container">
        <div class="section-title center">
            <h2>{{ page.title_about_us }}</h2>
        </div>
        <div class="row">
            {% for about_us in about_us_home %}
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-info">
                    <h4>{{ about_us.paragraph_title}}</h4>
                    <div class="text">
                        {{ about_us.paragraph_text }}
                    </div>
                    <div class="link_btn">
                        <a href="{{about_us.link}}" class="thm-btn">{{ about_us.button_text }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="accordion-box">
                    <!--Start single accordion box-->
                    {% for acc in accordion %}
                    <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                        <div class="acc-btn">
                            <p class="title">{{ acc.accordion_title }}</p>
                            <div class="toggle-icon">
                                <span class="plus fa fa-angle-right"></span><span class="minus fa fa-angle-down"></span>
                            </div>
                        </div>
                        <div class="acc-content">
                            <div class="text"><p>
                                {{ acc.accordion_text }}
                            </p></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
{% endif %}
