{% load wagtailimages_tags wagtailembeds_tags %}

{% if carousel_items %}
<section class="rev_slider_wrapper">

    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            {% for carousel_item in carousel_items %}
            <li data-transition="fade">
                {% image carousel_item.image width-1000 as carouselimagedata %}
                <img src="{{ carouselimagedata.url }}"
                width="1920"
                height="550"
                data-bgposition="top center"
                data-bgfit="cover"
                data-bgrepeat="no-repeat"
                data-bgparallax="1"
                style="width: 100%; min-height: {{ carouselimagedata.height }}px;"
                alt="{{ carouselimagedata.alt }}" />

                <div class="tp-caption  tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="top" data-voffset="125"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="700">
                    {% if carousel_item.caption or carousel_item.link %}
                      <div class="slide-content-box">
                          <h3>{{ carousel_item.caption }}</h3>
                      </div>
                    {% endif %}
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="15"
                    data-y="top" data-voffset="364"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2300">
                    {% if carousel_item.link %}
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn yellow-bg" href="{{ carousel_item.link }}">Open</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="188"
                    data-y="top" data-voffset="364"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="thm-btn our-solution" href="">Link to contact us page</a>
                        </div>
                    </div>
                </div>
            </li>
              {% endfor %}
        </ul>
    </div>
</section>
{% endif %}
<!--End rev slider wrapper-->
